<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>296910658175-khfu1ed80tjo5nr1aafc950in7c19jt2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt0PEE0J1gO4VsyWdhPK09ajjGzo_BVL8</string>
	<key>GCM_SENDER_ID</key>
	<string>296910658175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifive_dev.ifive_hrmsHrms</string>
	<key>PROJECT_ID</key>
	<string>ifive-30f06</string>
	<key>STORAGE_BUCKET</key>
	<string>ifive-30f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296910658175:ios:15e37776b60b23b86dfd4a</string>
	<key>DATABASE_URL</key>
	<string>https://ifive-30f06.firebaseio.com</string>
</dict>
</plist>